<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infrabel.AutodeskPlatform.Core.CoreSettings.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Infrabel.AutodeskPlatform.Core.CoreSettings.StaticValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infrabel.AutodeskPlatform.Core.CoreSettings.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Infrabel.AutodeskPlatform.Core.CoreSettings.Core/>
    <Infrabel.AutodeskPlatform.Core.CoreSettings.StaticValues>
      <setting name="DebugAssemblys" serializeAs="String">
        <value>\bin\debugPackages\TrackConnect\TrackConnect.dll</value>
      </setting>
      <setting name="DebugAssemblysBasePath" serializeAs="String">
        <value>C:\Users\cwn8400\Documents\Github\infrabel\Infrabel.AutodeskPlatform\</value>
      </setting>
      <setting name="DebugInstallPath" serializeAs="String">
        <value>C:\Users\cwn8400\Documents\Github\infrabel\Infrabel.AutodeskPlatform\</value>
      </setting>
      <setting name="DebugLogIniPath" serializeAs="String">
        <value>C:\Users\cwn8400\Documents\Github\infrabel\Infrabel.AutodeskPlatform\bin\debugLog</value>
      </setting>
      <setting name="RegistryPrefix" serializeAs="String">
        <value>Software</value>
      </setting>
      <setting name="RegistrySubkey" serializeAs="String">
        <value>\Infrabel\IAP</value>
      </setting>
      <setting name="RibbonDescription" serializeAs="String">
        <value>Infrabel Autodesk Platform, ribbon tab.</value>
      </setting>
      <setting name="RibbonTabId" serializeAs="String">
        <value>Infrabel: Autodesk Platform</value>
      </setting>
      <setting name="RibbonTabName" serializeAs="String">
        <value>Infrabel: Autodesk Platform</value>
      </setting>
      <setting name="RegistrySubkeyCore" serializeAs="String">
        <value>\Infrabel\IAP\Core</value>
      </setting>
      <setting name="RegistrySubkeyCoreHooks" serializeAs="String">
        <value>\Infrabel\IAP\Core\Hooks</value>
      </setting>
    </Infrabel.AutodeskPlatform.Core.CoreSettings.StaticValues>
  </applicationSettings>
  <userSettings>
    <Infrabel.AutodeskPlatform.Core.CoreSettings.Core>
      <setting name="RegistryPrefix" serializeAs="String">
        <value>Software</value>
      </setting>
      <setting name="RegistrySubkey" serializeAs="String">
        <value>\Infrabel\AutodeskPlatform</value>
      </setting>
    </Infrabel.AutodeskPlatform.Core.CoreSettings.Core>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
