<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TopoHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="RailToAlignment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TopoHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TopoHelper.Properties.Settings>
      <setting name="APP_EPSILON" serializeAs="String">
        <value>1E-06</value>
      </setting>
    </TopoHelper.Properties.Settings>
    <RailToAlignment.Properties.Settings>
      <setting name="epsilon" serializeAs="String">
        <value>1E-06</value>
      </setting>
    </RailToAlignment.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TopoHelper.Properties.Settings>
      <setting name="DV_LRTRR_TOLERANCE" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="LAY_NAME_PREFIX_2D" serializeAs="String">
        <value>2D-</value>
      </setting>
      <setting name="LAY_NAME_PREFIX_3D" serializeAs="String">
        <value>3D-</value>
      </setting>
      <setting name="LAY_NAME_R2R_CL" serializeAs="String">
        <value>811</value>
      </setting>
      <setting name="LAY_COL_R2R_CL_PL" serializeAs="String">
        <value>253</value>
      </setting>
      <setting name="DRAW_3D_R2R_CL_PNTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LAY_NAME_R2R_CL_PNTS" serializeAs="String">
        <value>811-Points</value>
      </setting>
      <setting name="LAY_COL_R2D_CL_PNTS" serializeAs="String">
        <value>251</value>
      </setting>
      <setting name="DV_LRTRR_MAX_VALUE" serializeAs="String">
        <value>1.6</value>
      </setting>
      <setting name="DRAW_2D_R2R_CL_PL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DRAW_3D_R2R_CL_PL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IO_FILE_R2R_CSV" serializeAs="String">
        <value>c:\Data\track.R2R.csv</value>
      </setting>
      <setting name="CALCULATE_CSD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DRAW_3D_CSD_RAILS_PL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LAY_NAME_CSD_RAILS_PL" serializeAs="String">
        <value>IAMTopo_CorrectSurveyDisplacementRail</value>
      </setting>
      <setting name="DRAW_2D_R2R_CL_PNTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LOG_R2R_CSV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IO_FILE_R2R_CSV_DELIMITER" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="LAY_COL_CSD_RAILS_PL" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="DRAW_3D_CSD_RAILS_PNTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LAY_NAME_CSD_RAILS_PNTS" serializeAs="String">
        <value>IAMTopo_CorrectSurveyDisplacementRailPoints</value>
      </setting>
      <setting name="LAY_COL_CSD_RAILS_PNTS" serializeAs="String">
        <value>115</value>
      </setting>
      <setting name="DELETE_JPL_ENTITIES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DIST_MIN_PTP" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="DIST_MAX_PTP" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="IO_FILE_CSD_CSV" serializeAs="String">
        <value>c:\Data\track.CSD.csv</value>
      </setting>
      <setting name="IO_FILE_CSD_CSV_DELIMITER" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="IO_FILE_DBPL_CSV" serializeAs="String">
        <value>c:\Data\track.DBPL.csv</value>
      </setting>
      <setting name="IO_FILE_DBPL_CSV_DELIMITER" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="IO_CSV_NUMBER_DECIMAL_SEPERATOR" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="CSD_MIN_CANT_VAL" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="SYMPPL_TOLERANCE" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="SYMPPL_HIGH_PRICISION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeedPolyline_MinDistance" serializeAs="String">
        <value>10</value>
      </setting>
    </TopoHelper.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>