<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TopoHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="RailToAlignment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TopoHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TopoHelper.Properties.Settings>
      <setting name="__APP_EPSILON" serializeAs="String">
        <value>1E-06</value>
      </setting>
    </TopoHelper.Properties.Settings>
    <RailToAlignment.Properties.Settings>
      <setting name="epsilon" serializeAs="String">
        <value>1E-06</value>
      </setting>
    </RailToAlignment.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TopoHelper.Properties.Settings>
      <setting name="DataValidation_LeftrailToRightRail_Tolerance" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="LayerNamePrefix_2DObjects" serializeAs="String">
        <value>IAMTopo_2D-</value>
      </setting>
      <setting name="LayerNamePrefix_3DObjects" serializeAs="String">
        <value>IAMTopo_3D-</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_LayerNameCenterline" serializeAs="String">
        <value>811</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_LayerColorOfCenterline3DPolyLine" serializeAs="String">
        <value>253</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_DrawCenterline3DPoints" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_LayerNameCenterLine3DPoints" serializeAs="String">
        <value>811-Points</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_LayerColorCenterline3DPoints" serializeAs="String">
        <value>251</value>
      </setting>
      <setting name="DataValidation_LeftrailToRightRail_Maximum" serializeAs="String">
        <value>1.52</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_Draw2DPolyline_CenterLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_Draw3DPolyline_CenterLine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_PathToCSVFile" serializeAs="String">
        <value>c:\Data\track.Rails2RailwayCenterLine.csv</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_Use_CalculateSurveyCorrection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CalculateSurveyCorrection_Draw3DPolyline_Rails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CalculateSurveyCorrection_LayerNamePolylines_Rails" serializeAs="String">
        <value>IAMTopo_CalculateSurveyCorrection_Rail</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_DrawCenterline2DPoints" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RailsToRailwayCenterLine_WriteResultToCSVFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CalculateSurveyCorrection_LayerColorPolyline_Rails" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="CalculateSurveyCorrection_Draw3DPoints_Rails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CalculateSurveyCorrection_LayerNamePoints_Rails" serializeAs="String">
        <value>IAMTopo_CalculateSurveyCorrection_Rail-Points</value>
      </setting>
      <setting name="CalculateSurveyCorrection_LayerColorPoints_Rails" serializeAs="String">
        <value>115</value>
      </setting>
      <setting name="JoinPolyline_DeleteSelectedEntities" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PointsTo3DPolyline_MinimumPointDistance" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="PointsTo3DPolyline_MaximumPointDistance" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="CalculateSurveyCorrection_PathToCsvFile" serializeAs="String">
        <value>c:\Data\track.CalculateSurveyCorrection.csv</value>
      </setting>
      <setting name="DistanceBetween2Polylines_PathToCsvFile" serializeAs="String">
        <value>c:\Data\track.DistanceBetween2Polylines.csv</value>
      </setting>
      <setting name="NumberDecimalSeperator_ForAllCSVFiles" serializeAs="String">
        <value>,</value>
      </setting>
      <setting name="CalculateSurveyCorrection_MinimumCantValue" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="SimplifyPolyline_Tolerance" serializeAs="String">
        <value>0.005</value>
      </setting>
      <setting name="SimplifyPolyline_UseHighPrecision" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeedPolyline_MinDistance" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WeedPolyline_LayerName" serializeAs="String">
        <value>WeededPolyline</value>
      </setting>
      <setting name="WeedPolyline_LayerColor" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AlignAngleOfBlock_DynamicPropertyName" serializeAs="String">
        <value>Angle1</value>
      </setting>
      <setting name="AlignAngleOfBlock_AddAngleValue_TimesPI" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IncrementAttribute_Pattern" serializeAs="String">
        <value>HM 45 000~100</value>
      </setting>
      <setting name="IncrementAttribute_Name" serializeAs="String">
        <value>HM_XX_XXX</value>
      </setting>
      <setting name="IncrementAttribute_ChainAlign" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ListSeperator_ForAllCSVFiles" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="NumberGroupCharacter_ForAllCSVFiles" serializeAs="String">
        <value />
      </setting>
    </TopoHelper.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
